<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Core.Properties.Settings>
            <setting name="UsuarioGoldenIndex" serializeAs="String">
                <value>lbw</value>
            </setting>
            <setting name="SenhaGoldenIndex" serializeAs="String">
                <value>lbw</value>
            </setting>
            <setting name="HostGoldenIndex" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="PortaGoldenIndex" serializeAs="String">
                <value>8085</value>
            </setting>
            <setting name="UriGoldenIndex" serializeAs="String">
                <value>GoldenIndex.soap</value>
            </setting>
            <setting name="ProtocoloGoldenIndex" serializeAs="String">
                <value>http</value>
            </setting>
        </Core.Properties.Settings>
    </applicationSettings>
</configuration>